<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    {% endblock %}
</head>
<body style="background-color: #04001c">
<div>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">🤡 Cab services</a>
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                        data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a aria-current="page" class="nav-link active" href="/">Home</a>
                        </li>
                    </ul>
                    {% if current_user.is_authenticated %}
                    <div>
                        <form action="/user">
                            <button class="btn btn-success" type="submit">User Page</button>
                        </form>
                    </div>
                    <div>
                        <form action="/map">
                            <button class="btn btn-info" type="submit">Map</button>
                        </form>
                    </div>
                    <div>
                        <form action="/logout">
                            <button class="btn btn-danger" type="submit">Logout</button>
                        </form>
                    </div>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <div>
                        <form action="/login">
                            <button class="btn btn-success" type="submit">Login</button>
                        </form>
                    </div>
                    <div>
                        <form action="/signup">
                            <button class="btn btn-info" type="submit">Signup</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</div>
<div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>